<div class="page-content p-5" id="content">
    <div class="card-title">  
        <div class="container">
            <div class="row">            
                <div class="col-sm-10">                
                    <h3>Usuarios</h3>               
                </div>
                <div class="col-sm-2" style="text-align: end;">
                    <button type="button" class="btn color-button" data-bs-toggle="modal" data-bs-target="#formUser">
                        Nuevo
                    </button>  
                    {{> users/userModal }} 
                    {{> users/userEditModal }}           
                </div>                        
            </div>
        </div>                      
    </div>
    <div class="card-body">                   
        <div class="row">
            <div class="col-sm-12">
                <table id="example2" class="table table-bordered table-striped dataTable dtr-inline collapsed" style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 10%;"></th>  
                            <th style="width: 40%;">Nombre</th>
                            <th style="width: 30%;">Email</th>
                            <th style="width: 20%;">Rol</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}                            
                            <tr id="{{_id}}">
                                <td>                                    
                                    <a class="editar btn btn-primary btn-sm active" role="button" aria-disabled="true" onclick="editUser('{{_id}}');" data-bs-toggle="modal" data-bs-target="#formEditUser">
                                        <i class="fa-regular fa-pen-to-square" aria-hidden="true"></i></a>
                                    <a class="btn btn-danger btn-sm active" role="button" aria-disabled="true" onclick="delUser('{{_id}}');">
                                        <i class="fa-regular fa-trash-can" aria-hidden="true"></i></a>                                                                     
                                </td>                                
                                <td>{{name}}</td> 
                                <td>{{email}}</td>
                                <td>{{role}}</td>                                 
                            </tr>                            
                        {{/each}}                           
                    </tbody>
                </table>
            </div>
        </div>            
    </div>
</div>

