{{> nav/navigation}}

<main class="container p-4">  
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Actualizar Usuario</h3>
        </div>        
        <form action="/users/{{users._id}}/edit" method="POST">
            <div class="card-body overflow-auto" style="max-width: auto; max-height: 400px;">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese un email" value="{{users.email}}"/>
                </div>
                <br>
                <div class="form-group">
                    <label for="rol">Rol</label> 
                    <select class="form-select" id="rol" name="rol" required>
                        <option value="" disabled>-- Escoja una opción --</option>
                        {{#each role}}
                            {{#ifCond _id '==' ../users.role}}
                                <option value="{{_id}}" selected>{{role}}</option>  
                            {{else}}
                                <option value="{{_id}}">{{role}}</option>
                            {{/ifCond}}                              
                        {{/each}}
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="responses">Categoria</label>               
                    <input type="text" class="form-control" id="name" name="name" placeholder="Ingrese un nombre" value="{{users.name}}"/>
                </div>                   
            </div>
            <div class="card-footer">
                <a href="/users" type="button" class="btn btn-secondary" role="button" aria-disabled="true">Cancelar</a> 
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </form>
    </div>
</main>

